@import url('https://code.highcharts.com/6.1.4/css/highcharts.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://s3.amazonaws.com/jchs-app-source-data/JCHS-highchartrs/src/css/JCHS-highcharts.css');

/* change chart colors here */
.highcharts-color-4 { fill: rgb(29,67,135); stroke: rgb(29,67,135); color: rgb(29,67,135); }
.highcharts-color-3 { fill: rgb(118,174,153); stroke: rgb(118,174,153); color: rgb(118,174,153); }
.highcharts-color-2 { fill: rgb(233,193,3); stroke: rgb(233,193,3); color: rgb(233,193,3); }
.highcharts-color-0 { fill: rgb(243,108,62); stroke: rgb(243,108,62); color: rgb(243,108,62); }
.highcharts-color-1 { fill: rgb(250, 178, 144); stroke: rgb(250, 178, 144); color: rgb(250, 178, 144); }
/*alt colors:
.highcharts-color-4 { fill: #467b91; stroke: #467b91; color: #467b91; }
.highcharts-color-3 { fill: #c8ded6; stroke: #c8ded6; color: #c8ded6; }
.highcharts-color-2 { fill: #f6e599; stroke: #f6e599; color: #f6e599; }
.highcharts-color-0 { fill: #c14d00; stroke: #c14d00; color: #c14d00; }
.highcharts-color-1 { fill: #eab700; stroke: #eab700; color: #eab700; }*/


/* Drilldown CSS */
.highcharts-area.zone-0,
.highcharts-point.zone-0  { stroke: #467b91; fill: #467b91; }
.highcharts-graph.zone-0 { stroke: #467b91; }
.highcharts-area.zone-1,
.highcharts-point.zone-1  { stroke: #c8ded6; fill: #c8ded6; }
.highcharts-graph.zone-1 { stroke: #c8ded6; }
.highcharts-area.zone-2,
.highcharts-point.zone-2  { stroke: #f6e599; fill: #f6e599; }
.highcharts-graph.zone-2 { stroke: #f6e599; }
.highcharts-area.zone-3,
.highcharts-point.zone-3  { stroke: #c14d00; fill: #c14d00; }
.highcharts-graph.zone-3 { stroke: #c14d00; }

/*Formatting the notes in the exported images*/
.highcharts-subtitle  {
  font-size: 6px;
}
